<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add	name="productConnection" connectionString="server=DESKTOP-2QU6A2H\SQLEXPRESS; database = SampleStore; trusted_connection = true;"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>